* {
    padding: 0;
    margin: 0;
}

ul li { list-style: none; }

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #434343;
    overflow-y: hidden;
}

/* ОСНОВНЫЕ КОМПОНЕНТЫ */

    #main {
        width: 100%;
        height: 100%;

        display: flex;
    }

    #side-panel {
        flex: 0 1 15%;
        min-height: 100%;
        box-shadow: 2px 0 8px 0 black;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 50px;
        padding-left: 27.5px;
        padding-right: 27.5px;
        padding-top: 40px;
    }

    .scroll-wrapper {
        flex: 1 1 85%;
        overflow-y: scroll;
        scrollbar-color: #454a4d #202324;
    }

    #main-panel {
        min-height: 100%;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 50px;
        
    }

    #top {
        min-height: 200px;
        padding: 20px 10px;
        background-color: rgba(9,9,9, .3);

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 80px;
    }

    #content {
        flex: 1 1 auto;

        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

        padding: 40px 0;

        background-color: rgba(9,9,9, .3);
    }

    .block {
        width: 500px;
        min-height: 152px;
        background-color: rgba(38,38,38, .8);
        padding: 10px;
        border-radius: 10px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

/* ---------------------------------------------- */

/* ПОБОЧНЫЕ СТИЛИ */

    #name {
        color: white;
    }

    #logo img {
        width: 100px;
        height: 100px;
    }

    #menu a { color: white; }

    #logo, #menu {
        display: flex;
        justify-content: center;
    }

    #logo a, #menu a {
        text-decoration: none;
    }

    #logo a:hover, #menu a:hover {
        text-decoration: underline;
    }

    .filling {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .filling>img {
        width: 100px;
        height: auto;
    }

    .text {
        width: 350px;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-around;
    }

    .title {
        color: #A6BCCE;
    }

    .text p {
        color: #9E9689;
    }

/* ------------------------------------------------------- */

/* Побочные компоненты */

#description {
    max-width: 600px;
    height: auto;
    color: #b4b0a9;
    font-size: large;

    border-radius: 10px;
    box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.20);
    padding: 20.5px 40px;
}


/* ------------------------------------------------------ */
